<!-- //////////////////////////////////////////////////////////////////////////////// -->
<div id='home'>
  <div class='row'>
    <div class='col s12'>
      <%= image_tag image_path('home_01.jpg') %>
    </div>
  </div>
</div>
<style>
  body{
    background-color: black;
  }
  @media only screen and (max-width: 992px){
  nav .center{
    display: none;
    color: black;
  }
  .dotaoff_home_menu{
    font-size: 40px;
    color:yellow;
  }
}
</style>
